[submodule "Flex"]
	path = Flex
	url = https://github.com/billbrod/Flex.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "extra_plugins/pelican-bibtex"]
	path = extra_plugins/pelican-bibtex
	url = https://github.com/vene/pelican-bibtex.git
