.reveal h1 {
    font-size:2.2em;
}
.reveal h2 {
    font-size:1.2em;
}

.reveal section img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    background:none;
    border:none;
    box-shadow:none;
}

html { 
  background-color: #fff !important; 
}

.reveal li {
    font-size:.5em;
}

.reveal table td {
    font-size:.5em;
}

.reveal table th {
    font-size:.5em;
}
